# Ignore the virtual environment
venv/

__pycache__/

# Visual Studio Code Settings
.vscode

# Hide the .env file because that is where we keep secrets, keys, etc.
.env

# Ignore the SQLite database (for development/testing use only)
app.db