{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
    {% if not current_user.is_authenticated %}
        <h1>Welcome to the Rapid Remember</h1>
        <h3>The Last Memorization Tool You'll Need</h3>
        {% if current_user.is_authenticated %}
            <h5>Nice to see you again, {{ current_user.username }}!</h5>
        {% else %}
            <h5>Please Sign Up or Log In to Access Texts</h5>
        {% endif %}
    {% else %}
        <h1>Current 
            Texts</h1>
    {% endif %}
    
{% endblock %}

{% block content %}
    <div class="row">
        <!-- Left 2/3 Column -->
        <div class="col-12 col-lg-8 order-1 order-lg-0">

            {% for text in texts %}
                {% if text.author == current_user %}
                    <div class="card mt-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img class="card-img-top" src="{{ text.image_url }}" alt="random">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                        <h6 class="card-subtitle text-muted">{{ text.date_created }}</h6>
                                        <h5 class="card-title">{{ text.title }}</h5>
                                        <h6 class="card-subtitle">By: {{ text.author.username }}</h6>
                                        <p class="card-text">{{ text.body }}</p>
                                        <a href="{{ url_for('practice', text_id=text.id) }}" class="btn btn-primary">Practice</a>
                                        <a href="{{ url_for('edit_text', text_id=text.id) }}" class="btn btn-success">Edit</a>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteTextModal-{{ text.id }}">
                                            Delete
                                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!-- Modal -->
                <div class="modal fade" id="deleteTextModal-{{ text.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{ text.title }}?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete {{ text.title }}? This action cannot be undone.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{{ url_for('delete_text', text_id=text.id) }}" class="btn btn-danger">Delete Text</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>

       

    </div>
{% endblock %}