{% extends 'base.html' %}

{% block title %}Practice{% endblock %}

{% block header %}
    <h1>Practice Makes Perfect</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.csrf_token }}

                        <!-- Error checking in case body doesn't exit-->
                        {% if practice.body %} 
                            <!-- Pass text into JS file -->
                            <div id="text">{{ practice.body }}</div>
                        {% endif %}
                            
                        <p>Score: <span id="score">{{ score }}</span></p>
                        
                        <p>Correct words: <span id="correctWords"> {{ correctWords }}</span></p>

                        <input type="text" id="input-field" class="form-control" value="{{ practice.body }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}