{% extends 'base.html' %}

{% block title %}Practice{% endblock %}

{% block header %}
    <h1>Practice Makes Perfect</h1>
{% endblock %}

{% block content %}
    <!-- Image Generation Card-->
    <div class="container-fluid">
        <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card" id="image-card" style="visibility: hidden;">
                <!-- Image is here -->
                <img class="cardImage" >
            </div>
        </div>
        </div>
    </div>
  

    <!-- Practice Card -->
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-body">
                    <!-- Generate Image Button -->
                    <div class="container-fluid text-center">
                        <button onclick="generateImage('{{ practice.body }}')" class="btn btn-primary w-50">Generate Image</button>
                        <script src="{{ url_for('static', filename='js/generate_image.js') }}"></script>
                    </div>

                    <!-- Form Body -->
                    <form action="" method="post">
                        {{ form.csrf_token }}

                        <!-- Error checking in case body doesn't exit-->
                        {% if practice.body %} 
                            <!-- Pass text into JS file -->
                            <div id="text">{{ practice.body }}</div>
                        {% endif %}
                            
                        <p>Score: <span id="score">{{ score }}</span></p>
                        
                        <p>Correct words: <span id="correctWords"> {{ correctWords }}</span></p>

                        <input type="text" id="input-field" class="form-control" value="{{ practice.body }}">
                    </form>

                    <!-- Pass api_key into generate_image.js file -->
                    <script>
                        var tempKey = '{{ api_key }}';
                    </script>
                    
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal" tabindex="-1" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-title text-center pt-4">
                        <h5>Congratulations!</h5>
                    </div>
                    <div class="modal-body text-center" id="finalScore">
                        <p>Final Score: </p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-primary">Practice Again</button>
                        <button type="button" class="btn btn-secondary">My Texts</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
